.calender {
    width: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.down-arrow-outline {
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
    cursor: pointer;
}

.left-arrow-outline {
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
    cursor: pointer;
}

.right-arrow-outline {
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-135deg);
    cursor: pointer;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.calendar-popup {
    position: absolute;
    right: 0;
    margin-top: 6px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    padding: 10px;
}

.calendar-popup-content {
    font-size: 0.9rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.week-list {
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #000000 !important;
}

.week-list,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.week-list div {
    font-weight: bold;
    margin-bottom: 5px;
}

.date-grid div {
    height: 20px;
    width: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-date {
    background-color: red;
    border-radius: 100%;
    color: white;
    cursor: pointer;
}

.calendar-date {
    cursor: pointer;
}